{% extends 'main.html' %}

{% block contenu %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Supprimer cette commande ?</h5>
                    <p class="card-text">Êtes-vous sûr de vouloir supprimer cette commande ?</p>
                    <form action="{% url 'supprimer_commande' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <a href="{% url 'acceuil' %}" class="btn btn-secondary">Annuler</a>
                            <button type="submit" class="btn btn-danger">Confirmer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
