{% extends 'main.html' %}

{% block contenu %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Client</th>
					<th>Telephone</th>
					<th>Détails</th>
				</tr>
<!--				c'est un tag pour ecrire les expressions ou bien faire appel a des blocs-->
				{% for client in clients %}
<!--
c'est un tag pour afficher les valeurs (les données)-->
				<tr>
				<th><a href="{% url 'client' client.id %}">{{client.id}} </a></th>
				<th>{{client.nom}}</th>
				<th>{{client.telephone}}</th>
					<th><a class='btn btn-sm btn-success' href="{% url 'client' client.id %}">Détails</a></th>
				</tr>

				{% endfor %}



			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Toutes les commandes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajout_commande' %}">Ajouter une Commande</a>
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
					<th>Client</th>
					<th>Date</th>
					<th>Status</th>
					<th>Mise à Jour</th>
					<th>Supprimer</th>
				</tr>
					{% for commande in commandes %}
				<tr>
					<th>{{commande.produit}}</th>
					<th>{{commande.client}}</th>
					<th>{{commande.date_creation}}</th>
					<th>{{commande.status}}</th>
					<th><a class='btn btn-sm btn-info' href="{% url 'modifier_commande' commande.id %}">Modifier</a></th>
					<th><a class='btn btn-sm btn-danger' href="{% url 'supprimer_commande' commande.id %}">Supprimer</a></th>
				</tr>
				     {% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}

